<div class="header">Folder Structure Maker</div>
<div class="folder-structure">
    <button mat-raised-button class="add-button" (click)="addFolderToRoot()">Add folder to root</button>
    <ul>
        <ng-container *ngFor="let folder of folders">
            <ng-template
                [ngTemplateOutlet]="folderTemplateRef"
                [ngTemplateOutletContext]="{ folder: folder }">
            </ng-template>
        </ng-container>
    </ul>
</div>

<ng-template #folderTemplateRef let-folder="folder" let-parentId="parentId">
  <li>
    <div class="folder">
        <ng-container *ngIf="folder.name; else addNew">
            <mat-icon>{{ ( folder.type === 'folder' ) ? 'folder' : 'description' }}</mat-icon>
            <span class="text">{{folder.name}}</span>
        </ng-container>
        <ng-template #addNew>
            <div class="add-new-folder">
                <input [(ngModel)]="fileName">
                <button mat-icon-button color="primary" (click)="updateName( folder )">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button color="dark" (click)="removeFolder( folder )">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </ng-template>
    </div>
    <ul>
        <ng-container *ngFor="let subFolder of folder.children">
            <ng-template
                [ngTemplateOutlet]="folderTemplateRef"
                [ngTemplateOutletContext]="{ folder: subFolder }">
            </ng-template>
        </ng-container>
        <li *ngIf="folder.name">
            <div class="folder">
                <button (click)="addFileName( folder )">File</button>
                <button (click)="addFileName( folder , 'folder' )">Folder</button>
            </div>
        </li>
    </ul>
  </li>
  
</ng-template>